.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    padding: 37px 0 40px 0;
}
.footer-main{
    display: flex;
    gap: 88px;
}
.footer-info{
    max-width: 296px;
    width: 100%;
    display:flex;
    flex-direction:column;
    gap:8px;
}
.footer-info p{
    font-size: 14px;
    line-height: 20px;
    color: #6E7076;
}
.footer-info svg{
    margin-bottom: 4px;
}
.footer-support h2{
    font-size: 16px;
    line-height:24px;
    font-weight:500;
    color: #33363E;
}
.footer-support {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-links{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:4px;
}
.footer-links li{
    font-size: 14px;
    line-height: 20px;
    color:#6E7076;
}
.footer-social{
    display: flex;
    gap: 12px;
}