.header{
    height: 56px;
        display: flex;
    align-items: center;

}

.header_container{
    display: flex;
    gap: 114px;
    height: 32px;
}
.header__logo-and-search{
    display: flex;
    gap: 50px;
    align-items: center;
}
.header__options{
    display: flex;
    gap: 24px;
        align-items: center;

}
.header__selects{
    display: flex;
    gap: 16px;
}
.header__buttons{
    display: flex;
    gap:8px;
}