.seo-sontent-container{
    // position: relative;

}
.seoImage{
    position: absolute;
    right: 0;
    top: 0;
}
.seo-sontent{
    max-width: 680px;
    width: 100%;
}
.seo-title{
  color:var(--title-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.seo-description{
   color: var( --color); 
     font-size: 16px;
  line-height: 24px;
}
.main_category{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
        max-width: 680px;
    width: 100%;
}
.btn-link span{
font-size: 10px;
line-height: 20px;
font-weight: 600;
}
 .btn-link{
  
   &:hover,  &.active {
      background-color: #5C80FD;
      color:#FFFFFF;
    }
 }
.seo-sontent-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid #E8EBF0;
    padding-bottom: 24px;
}